@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Mono&display=swap");

/* COLORS */
$black: #151515;
$white: #f5f5f5;
$grey: #d6d6d6;
$grey-medium: #c2c2c2;

/* FONTS */
$jp: "Japanese";
$bebas: "Bebas Neue", cursive;
$space: "Space Mono", monospace;
