@import "../../styles//style.scss";

#home {
  /* COMMON */
  .page-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 5%;
    .container {
      max-width: 840px;
    }
  }
  .page-title {
    color: $white;
    font-family: $bebas;
    font-size: 72px;
    font-weight: 400;
    padding: 15px 0;
    margin: 0;
    text-align: center;
    line-height: 72px;
  }
  .page-desc {
    padding: 15px 0;
    margin-top: 25px;
    text-align: center;
    p {
      color: $white;
      font-family: $space;
      font-size: 14px;
      line-height: 22px;
      a {
        color: $grey;
      }
    }
  }

  /* SECTIONS */
  .main-visual {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    &__scroll {
      width: 100%;
      height: 30px;
      position: absolute;
      bottom: 24px;
      left: 0;
      button {
        display: block;
        width: 100%;
        max-width: 150px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        &:hover {
          .front {
            opacity: 0;
            @include transform_c(translateY(50%) rotateX(90deg));
          }
          .back {
            opacity: 1;
            @include transform_c(translateY(0) rotateX(0));
          }
        }
        * {
          width: 100%;
          height: 100%;
          line-height: 30px;
          position: absolute;
          top: 0;
          left: 0;
          @include transition_c(all 0.5s ease-out);
        }
        .front {
          @include transform_c(translateY(0) rotateX(0));
          &::before {
            content: "";
            position: absolute;
            border-bottom: 1px solid $white;
            border-right: 1px solid $white;
            width: 12px;
            height: 12px;
            top: 50%;
            left: 50%;
            @include transform_c(translate(-50%, -75%) rotate(45deg));
          }
        }
        .back {
          color: $white;
          font-size: 12px;
          opacity: 0;
          @include transform_c(translateY(-50%) rotateX(90deg));
        }
      }
    }
  }
  .information {
    &__list {
      display: flex;
      justify-content: space-between;
      li {
        padding: 0 20px;
        .ttl {
          color: $grey;
          font-family: $bebas;
          font-size: 34px;
          font-weight: 400;
          margin-bottom: 16px;
          line-height: 40px;
        }
        .txt {
          color: $white;
          margin: 12px 0 6px;
          line-height: 14px;
          a {
            color: $grey;
          }
        }
      }
    }
  }
  .artists {
    .page-banner {
      background: url('../../images/home//img_parallax_02.jpeg') center/cover no-repeat;
      background-attachment: fixed;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 25%;
        padding: 0 20px 40px;
        .avatar {
          @include aspect-ratio(1, 1);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
        .view {
          border: 2px solid $white;
          display: block;
          width: 100%;
          max-width: 170px;
          font-size: 14px;
          margin: 34px 0;
          text-align: center;
          line-height: 50px;
          @include transition_c(all 0.5s ease-out);
          &:hover {
            background: $white;
            color: $black;
          }
        }
        .name {
          font-family: $bebas;
          font-size: 34px;
          margin-bottom: 18px;
          line-height: 40px;
        }
        .overview {
          margin-top: 12px;
        }
      }
    }
  }
  .spaces {
    .page-banner {
      background: url('../../images/home//img_parallax_02.jpeg') center/cover no-repeat;
      background-attachment: fixed;
    }
    &__ttl {
      font-family: $bebas;
      font-size: 36px;
      padding: 0 0 68px;
      text-align: center;
    }
    &__txt {
      color: $grey;
      padding: 34px;
      text-align: center;
    }
    &__video {
    }
    &__carousel {
      position: relative;
      .item .img {
        @include aspect-ratio(960, 530);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        width: 100%;
      }
    }
  }
  .brands {
    .page-banner {
      background: url('../../images/home//img_parallax_02.jpeg') center/cover no-repeat;
      background-attachment: fixed;
    }
    &__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      li {
        width: 20%;
        padding: 0 18px 36px;
      }
    }
  }
  .about {
    .page-banner {
      background: url('../../images/home//img_parallax_02.jpeg') center/cover no-repeat;
      background-attachment: fixed;
    }
    &__container {
      .img {
      }
      .content {
        display: flex;
        justify-content: space-between;
        padding: 80px 0;
        p {
          width: calc(50% - 20px);
        }
      }
      .os {
        display: flex;
        flex-wrap: wrap;
        max-width: 700px;
        margin: 0 auto;
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 25%;
          padding: 0 20px 40px;
          img {
            width: auto;
            height: 40px;
          }
        }
      }
    }
  }
  .faq {
    .page-banner {
      background: url('../../images/home//img_parallax_02.jpeg') center/cover no-repeat;
      background-attachment: fixed;
    }
    &__list {
      display: flex;
      justify-content: space-between;
      li {
        width: calc(50% - 20px);
        .question {
          color: $grey-medium;
          font-family: $bebas;
          font-size: 34px;
          margin-bottom: 17px;
        }
        .answer {
          color: $grey-medium;
          margin-bottom: 34px;
        }
      }
    }
  }
  .locations {
    .page-banner {
      background: url('../../images/home//img_parallax_02.jpeg') center/cover no-repeat;
      background-attachment: fixed;
    }
  }
}
