@import "../../../styles/style.scss";

.News {
  background: #000;
  padding: 100px 0;
  &__List {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 40px);
    max-width: 1000px;
    margin: 0 auto;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33.3333%;
      padding: 0 20px;
      @include SP {
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 40px;
        &:not(:nth-child(3)) {
          order: 1;
        }
      }
      a {
        background: #fff;
        box-shadow: 0 0 5px rgba($color: white, $alpha: 0.1);
        border-radius: 20px;
        color: #000;
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
        overflow: hidden;
        position: relative;
        .Box {
          background: #1a1919;
          display: flex;
          width: 100%;
          height: 200px;
          overflow: hidden;
          position: relative;
          &__Img {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            @include transition_c(all 0.3s ease-out);
          }
        }
        .Content {
          padding: 15px 15px 30px;
          margin: 0;
        }
        .Arrow {
          position: absolute;
          background: #000;
          border-top-left-radius: 20px;
          width: 72px;
          height: 32px;
          bottom: 0;
          right: 0;
          &::before {
            content: "";
            position: absolute;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='248' viewBox='0 0 512 248'%3E%3Cg id='right-arrow' transform='translate(0 -132)'%3E%3Cg id='Group_1' data-name='Group 1'%3E%3Cpath id='Path_1' data-name='Path 1' d='M506.134,241.843c-.006-.006-.011-.013-.018-.019l-104.5-104a20,20,0,0,0-28.218,28.352L443.558,236H20a20,20,0,0,0,0,40H443.557L373.4,345.824a20,20,0,0,0,28.218,28.352l104.5-104c.006-.006.011-.013.018-.019A20.017,20.017,0,0,0,506.134,241.843Z' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A")
              center/contain no-repeat;
            width: 24px;
            height: 12px;
            top: 50%;
            left: 50%;
            @include transform_c(translate(-50%, -50%));
            @include transition_c(all 0.3s ease-out);
          }
        }

        @include hover {
          .Box__Img {
            @include transform_c(scale(1.1));
          }
          .Arrow::before {
            left: calc(50% + 5px);
          }
        }
      }
    }
  }
}
