@import "../../styles/style.scss";

.footer {
  &__directories {
    display: flex;
    justify-content: space-between;
    .col {
      .ttl {
        font-family: $bebas;
        font-size: 34px;
        margin-bottom: 18px;
      }
      .txt {
        margin: 12px 0;
      }
    }
  }
}