@import "../../../styles/style.scss";

.FirstView {
  background: black;
  min-height: 600px;
  position: relative;
  &__Container {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 1;
    @include PC {
      position: absolute;
      top: 0;
      left: 0;
    }
    .Content {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      width: calc(100% - 40px);
      max-width: 1000px;
      margin: 0 auto;
      @include SP {
        padding-bottom: 40px;
        align-items: center;
        padding-top: 50px;
      }
      .Logo {
        width: 100px;
        margin-bottom: 20px;
      }
      .Heading {
        font-family: $jp;
        font-size: 60px;
        letter-spacing: 0.1em;
        @include SP {
          font-size: 26px;
        }
      }
      .Txt {
        width: calc(100% - 40px);
        max-width: 520px;
        font-size: 18px;
        padding: 40px 0;
        line-height: 28px;
        text-align: justify;
        @include SP {
          width: calc(100% - 80px);
          font-size: 14px;
          padding: 20px 0;
          line-height: 20px;
        }
      }
      .Btn {
        background: #fff;
        border: 3px solid #fff;
        border-radius: 25px;
        color: #000;
        font-size: 14px;
        font-weight: bold;
        padding: 10px 30px 10px 20px;
        position: relative;
        @include transition_c(all 0.3s ease-out);
        @include hover {
          background: transparent;
          color: #fff;
        }
        &::before {
          content: "";
          position: absolute;
          border-top: 1px solid currentColor;
          border-right: 1px solid currentColor;
          width: 6px;
          height: 6px;
          top: 50%;
          right: 14px;
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }
  }
  &__Box {
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: auto;
    @include SP {
      width: 100%;
    }
    .Img {
      @include aspect-ratio(725, 630);
      box-shadow: 120px 0 120px 0 black inset;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      @include SP {
        box-shadow: 0 -120px 120px 0 black inset;
      }
    }
  }
}
