@import "../../../styles/style.scss";

.Artists {
  background: #fff url('../../../images//common//bg_texture.png') top left/500px repeat;
  padding: 100px 0;
  &__List {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% - 40px);
    max-width: 1000px;
    margin: 0 auto;
    li {
      display: flex;
      width: 25%;
      padding: 0 20px 40px;
      @include SP {
        width: 100%;
      }
      &:nth-child(1) {
        align-items: center;
        justify-content: center;
        @include SP {
          justify-content: flex-start;
        }
      }
      a {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        display: flex;
        -webkit-perspective: 150rem;
        perspective: 150rem;
        position: relative;
        z-index: 1;
        .Front {
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden;
          background: black;
          border-radius: 15px;
          box-shadow: 0 0 5px rgba($color: white, $alpha: 0.4);
          display: flex;
          flex-direction: column;
          overflow: hidden;
          @include transition_c(all 0.5s ease-out);
          .Box {
            background: #1a1919;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 150px;
            &__Img {
              background-color: black;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
              border: 2px solid white;
              border-radius: 50%;
              width: 120px;
              height: 120px;
            }
          }
          .Info {
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
            padding: 10px;
            &__Name {
              display: flex;
              align-items: center;
              justify-content: center;
              flex: 1 0 auto;
              text-align: center;
            }
            &__Quote {
              margin: 0;
            }
          }
        }
        .Back {
          background: #1a1919;
          border-radius: 15px;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          @include transform_c(rotateY(180deg));
          @include transition_c(all 0.5s ease-out);
          @media only screen and (max-width: 1024px) {
            opacity: 0;
          }
          .View {
            font-size: 16px;
            font-weight: bold;
          }
        }

        @include hover {
          .Front {
            @include transform_c(rotateY(-180deg));
          }
          .Back {
            @include transform_c(rotateY(0));
          }
        }
      }
    }
  }
}
